<div class="container" style="display: flex; justify-content: center;">
  <div class="col-md-5 form">
      <div class="form-area">
          <form role="form">
              <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center;">MENJANJE LOZINKE</h3>
              <div class="form-group">
                  <input type="password" class="form-control" id="staraLozinka" name="staraLozinka" placeholder="Stara Lozinka" required [(ngModel)] = "staraLozinka">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" id="novaLozinka" name="novaLozinka" placeholder="Nova Lozinka" required [(ngModel)] = "novaLozinka">
              </div>
              <button type="button" id="azuriraj" name="submit" class="btn btn-primary pull-right" (click) = "update()" >Promeni</button>
          </form>
      </div>
  </div>
</div>